* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.main-nav {
  width: full;
  height: 215px;
  background-color: #0c7a99;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 25px;
}

.head {
  text-align: center;
  font-size: 40px;
  color: white;
}
.nav-btn {
  padding: 30px;
  background-color: none;
}
.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 15px;

  width: 550px;
  border-radius: 10px;
  /* color: white; */
}

li > a {
  /* color: white; */
  font-weight: 700;
}
.navv {
  position: absolute;
  top: 140px;
  right: 350px;
  /* background: white; */
  padding: 5px 0px;
  border-radius: 10px;
}
.listt {
  padding: 10px 15px;
  font-weight: 700px;
  position: relative;
  color: white;
  font-size: 18px;
}
.listt:hover {
  background-color: white;
  color: #0c7a99;
  transition: ease-in-out;
  transition-duration: 200ms;
  border-radius: 5px;
}
.heading {
  text-align: center;
  font-size: 40px;
}
.hero-content {
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  background-color: #98dff3;
  text-align: start;
}
.news {
  width: 100%;
}
.news-head {
  text-align: center;
  font-size: 24px;
  margin: 10px;
}

.news-bg {
  width: 100%;
  background-color: #98dff3;
}
.news-content {
  padding: 15px 35px;
  font-size: 18px;
  line-height: 28px;
}
.news-content p {
  background-color: #b4e3f3;

  margin: 10px;
}
.res-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 30px 30px;
}
.res-head {
  text-align: center;
  font-size: 24px;
  padding-top: 20px;
}
.res-box {
  width: 350px;
  height: 540px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  gap: 15px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.3s;
  border-radius: 10px;
  margin-bottom: 30px;
}
.res-box:hover {
  scale: 1.05;
}
.res-box img {
  width: 100%;
  object-fit: cover;
  height: 224px;
}
.res-box p {
  font-size: 18px;
}
.inst {
  background-color: #98dff3;
  margin-top: 20px;
}
.group-head {
  text-align: center;
  font-size: 24px;
  padding-top: 20px;
}
.inst-head {
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
}
.inst-box {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 350px;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: 0.3s;
  gap: 20px;
  padding-top: 20px;
}
.inst-box:hover {
  scale: 1.03;
}
.inst-box img {
  border-radius: 50%;
}
.inst-box h2 {
  font-size: 34px;
}
.phd-head {
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
}
.phd-box {
  cursor: pointer;
  width: 22%;
  height: 230px;
  text-align: center;
  margin-bottom: 40px;
  transition: 0.3s;
}
.phd-box:hover {
  scale: 1.03;
}
.phd-box img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  padding-bottom: 10px;
  position: relative;
}
.phd-box h2 {
  padding-bottom: 10px;
  font-size: 22px;
}
.phd-content {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 30px 80px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.phd-students {
  padding-top: 80px;
  background-color: #98dff3;
}
.b-tech {
  padding-left: 60px;
  padding-bottom: 10px;
}
.btech {
  font-size: 18px;
  padding: 5px 60px;
  width: 30%;
  cursor: pointer;
}
.btechp {
  font-size: 18px;
  padding: 5px 60px;
  width: 50%;
  padding-bottom: 30px;
  cursor: pointer;
  padding-top: 10px;
}
.past {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 50px;
}
.inst a {
  text-decoration: none;
  color: black;
}
.curr {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 479px) {
  body {
    overflow-x: hidden;
  }
  .logo1 {
    width: 50px;
    height: 50px;
  }
  .logo2 {
    width: 50px;
    height: 50px;
  }
  .head {
    font-size: 18px;
  }
  .navv {
    position: absolute;
    top: 80px;
    right: 285px;
    padding: 5px 0px;
    border-radius: 10px;
  }
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 5px;

    width: 50px;
    border-radius: 10px;
    /* color: white; */
  }
  .listt {
    padding: 10px 15px;
    font-weight: 700px;
    position: relative;
    color: white;
    font-size: 10px;
  }
  .main-nav {
    height: 130px;
  }
  .heading {
    font-size: 19px;
  }
  .hero-content {
    font-size: 12px;
    font-weight: 500;
  }
  .news-head {
    font-size: 14px;
  }
  .news-content {
    padding: 5px 5px;
    font-size: 12px;
    line-height: 22px;
  }
  .res-head {
    font-size: 14px;
  }
  .res-box p {
    font-size: 12px;
  }
  .group-head {
    font-size: 14px;
  }
  .inst-head {
    font-size: 18px;
    padding-bottom: 16px;
  }
  .inst-box h2 {
    font-size: 20px;
  }
  .phd-head {
    font-size: 18px;
  }
  .phd-box {
    width: 95%;
    height: 230px;
    text-align: center;
    margin-bottom: 40px;
  }
  .phd-content {
    gap: 30px;
  }
  .b-tech {
    padding-left: 70px;
    padding-top: 30px;
  }
  .btech {
    font-size: 16px;
    padding: 5px 60px;
    width: 100%;
  }
  .btechp {
    font-size: 16px;
    padding-left: 70px;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
  }
  .past {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
    align-items: baseline;
  }
  .curr {
    flex-direction: column;
  }
  .res-box img {
    width: 100%;
    object-position: center;
    object-fit: cover;
    height: 170px;
  }
  .res-box {
    width: 350px;
    height: 460px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .logo2 {
    width: 110px;
    height: 110px;
  }
  .head {
    font-size: 34px;
  }
  .navv {
    position: absolute;
    top: 100px;
    right: 655px;
    padding: 5px 0px;
    border-radius: 10px;
  }
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    width: 50px;
    border-radius: 10px;
    /* color: white; */
  }
  .listt {
    padding: 10px 15px;
    font-weight: 700px;
    position: relative;
    color: white;
    font-size: 18px;
  }
  .main-nav {
    height: 150px;
  }
  .heading {
    font-size: 30px;
  }
  .hero-content {
    font-size: 16px;
    font-weight: 500;
  }
  .news-head {
    font-size: 18px;
  }
  .news-content {
    padding: 10px 8px;
    font-size: 14px;
    line-height: 26px;
  }
  .res-head {
    font-size: 18px;
  }
  .res-box p {
    font-size: 16px;
  }
  .group-head {
    font-size: 18px;
  }
  .inst-head {
    font-size: 20px;
    padding-bottom: 16px;
  }
  .inst-box h2 {
    font-size: 28px;
  }
  .phd-head {
    font-size: 18px;
  }
  .phd-box {
    width: 30%;
    height: 230px;
    text-align: center;
    margin-bottom: 40px;
  }
  .phd-content {
    gap: 30px;
    padding: 10px 10px;
  }
  .b-tech {
    padding-top: 30px;
  }
  .btech {
    font-size: 16px;
    padding: 5px 60px;
    width: 50%;
  }
  .btechp {
    font-size: 16px;
    padding-left: 70px;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 5px;
  }
  .past {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: baseline;
  }
  .curr {
    flex-direction: column;
  }
  .res-box img {
    width: 100%;
    object-position: center;
    object-fit: cover;
    height: 170px;
  }
  .res-box {
    width: 290px;
    height: 570px;
  }
}
